body{
	font-family: 'Montserrat', sans-serif;
}
#fondo-principal{
	background-image: url(img/comenzar.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
#footer{
	position: fixed;
	left: 0;
	bottom: 10px;
	width: 100%;
}
#wrapper-login {
	position: relative;
	width: 40%;
}
#titulo{
	font-size: 10em;
	margin-top: 7%;
	font-family: 'Grand Hotel', cursive;
	color: #3a4d47;
	margin-bottom: 0px;
}
#formulario input{
	margin: 9px auto;
}
#button{
	background-color: #b5bd94;
	color: #FFF;
	width: 30%;
	border-color: #b5bd94;
}
#registro{
	color: #3a4d47;
	font-size: 1em;
}
#registro:hover{
	color: #3a4d47;
}
.error{
	display: none;
	color: #F00;
	font-size: xx-small;
	line-height: 2px;
}
#wrapper-reg{
	width: 50%;
}
#registrate{
	margin-top: 20%;
	font-family: 'Grand Hotel', cursive;
	color: #3a4d47;
	margin-bottom: 0px;
	font-size: 5em;
}
#provincia{
	width: 90%;
	margin: 20px auto;
}
#atras{
	font-size: small;
	margin: 150px;
}
.navbar{
	background-color: #3a4d47;
}
#logo-navbar{
	font-family: 'Grand Hotel', cursive;
	color: #FFF;
	font-size: 2em; 
}
#logo-navbar:hover, #logo-navbar:visited{
	text-decoration: none;
	color: #FFF;
}
#salir, #salir:hover {
  color: #FFF;
}

#bienvenida{
	color: #3a4d47;
	padding-top: 3.5rem;
}
.img-huerto{
	height: 12rem;
	width: 18rem;
	display: block;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(img/default_huerto.jpg);
}
#modHuerto{
	color: #3a4d47;
}
#modHuerto:hover{
	color: #3a4d47;
	text-decoration: none;
	transform: scale(1.2);
}
#buscador{
	background-color: #b5bd94;
	height: 30%;
}

#sembrado{
	/*background-color: #b5bd94;*/
	border: 2px solid #b5bd94;
  border-radius: 5px;
	float: right;
}
.eliminar{
	color: #F00;
}
.eliminar:hover{
	color: #F00;
}
#buscador input {
	margin-right: 20px;
	width: 50%;
	padding: 5px;
}
thead{
	color: #3a4d47;
}